* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    color: #b3b3b3;
}


ul {
    list-style: none;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
}


a {
    text-decoration: none;
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: none;
    margin-bottom: 40px;
}


.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color: rgba(0, 0, 0, 0.55);
    --bs-navbar-hover-color: rgba(0, 0, 0, 0.7);
    --bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
    --bs-navbar-active-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
    --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0.1);
    --bs-navbar-toggler-border-radius: 0.375rem;
    --bs-navbar-toggler-focus-width: 0.25rem;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}


.btn-outline-success {
    --bs-btn-color: hsl(0, 0%, 51%);
    --bs-btn-border-color: hsl(0, 0%, 51%);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: hsl(0, 0%, 51%);
    ;
    --bs-btn-hover-border-color: hsl(0, 0%, 51%);
    ;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: hsl(0, 0%, 51%);
    --bs-btn-active-border-color: hsl(0, 0%, 51%);
    ;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: hsl(0, 0%, 51%)4;
    --bs-btn-disabled-bg: transparent;
    --bs-gradient: none;
}


header h1 {
    padding: 20px;
    text-align: left;
    font-size: 50px;
    font-style: italic;
    font-weight: 700;
    color: #747475;
    background-color: #d8d6d5;
}


header input {
    text-align: left;
}


header ul {
    display: flex;
}


header ul li {
    padding: 13px;
}


header ul li a {
    transition: 300ms;
}


header ul li a:hover {
    color: black;
}


body {
    background: url(./Imagens/logo3.png) no-repeat right fixed;
    background-size: 1154px;
    background-position: 589px 133px;
}


main h5 {
    padding: 20px;
    text-align: left;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
}


img.d-block.w-100 {
    width: 40% !important;
    padding: none;
    margin: 40px;

}


.col-100 {
    width: 40%;
    height: 40%;
    float: left;
    position: left;
    padding: 40px;
}


footer p {
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: gray;
}